<!DOCTYPE html>
<html>
  <head>
    <title>
      Rekap_Saldo_BBM {{isset($tglawal)? DateConversion::indonesia($tglawal,"d F
      Y"):'-'}} - {{isset($tglakhir)? DateConversion::indonesia($tglakhir,"d F
      Y"):'-'}}
    </title>
    <style>
      body {
        margin-top: 45px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
      table {
        border-collapse: collapse;
      }
      header {
        position: fixed;
        top: -30px;
        left: 0px;
        right: 0px;
      }
    </style>
  </head>


  
  <header>
    <table style="width: 100%">
      <tbody>
        <tr>
          <td style="border-bottom: 2px solid #000">
            <table style="width: 100%">
              <tr>
                <td style="width: 150px">
                  <img
                    src="{{asset('media/photos/logobpkp.png')}}"
                    class="logo"
                    style="width: 100%"
                  />
                </td>
                <td style="width: 100%; margin-left: 50px">
                  <h2
                    style="
                      margin: 0;
                      text-transform: uppercase;
                      font-size: 14px;
                      text-align: center;
                    "
                  >
                    Badan Pengawasan Keuangan dan Pembangunan
                  </h2>
                  <h1
                    style="
                      margin: 0;
                      text-transform: uppercase;
                      font-size: 16px;
                      text-align: center;
                    "
                  >
                    Perwakilan Provinsi Lampung
                  </h1>
                  <p style="margin: 0; text-align: center; font-size: 14px">
                    Jl. Basuki Rahmat Nomor 33, Bandar Lampung. 35215.
                  </p>
                  <p style="margin: 0; text-align: center; font-size: 14px">
                    Telp/Fax : (0721) 481550 / (0721) 481550
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </header>



  <body>
    <div style="">
      <table style="width: 100%; margin-top: 30px">
        <tr>
          <td
            style="
              text-align: center;
              text-transform: uppercase;
              font-weight: bold;
              font-size: 16px;
            "
          >
            Rekap Saldo BBM {{$judul??''}}
          </td>
        </tr>
      </table>
      <table style="width: 100%">
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="padding: 5px; width: 5%">Tanggal</td>
          <td style="padding: 5px; word-wrap: break-word">
            : {{isset($tglawal)? DateConversion::indonesia($tglawal,"d F
            Y"):'-'}} - {{isset($tglakhir)?
            DateConversion::indonesia($tglakhir,"d F Y"):'-'}}
          </td>
        </tr>
      </table>
    </div>
    <table style="width: 100%; margin-top: 20px">
      <tr>
        <td style="width: 150px; padding: 5px">Jumlah Saldo</td>
        <td style="width: 45%; padding: 5px">
          : Rp.
          {{isset($saldo->saldoawal)?number_format($saldo->saldoawal,2):'0'}}
        </td>
      </tr>
      <tr>
        <td style="width: 150px; padding: 5px">Jumlah Realisasi</td>
        <td style="width: 45%; padding: 5px">
          : Rp.
          {{isset($jumlahrealisasi->realisasi)?number_format($jumlahrealisasi->realisasi,2):'0'}}<
        </td>
      </tr>
      <tr>
        <td style="width: 150px; padding: 5px">Sisa Saldo</td>
        <td style="width: 45%; padding: 5px">
          : Rp. {{isset($sisasaldo) &
          $sisasaldo>0?number_format($sisasaldo,2):'0'}}<
        </td>
      </tr>
    </table>
    <table style="width: 100%; margin-top: 30px">
      <thead>
        <tr>
          <th
            style="
              border: 1px solid black;
              padding: 5px;
              text-align: left;
              font-size: 12px;
            "
          >
            No
          </th>
          <th
            style="
              border: 1px solid black;
              padding: 5px;
              text-align: center;
              font-size: 12px;
            "
          >
            Keterangan
          </th>
          <th
            style="
              border: 1px solid black;
              padding: 5px;
              text-align: center;
              font-size: 12px;
            "
          >
            Tanggal
          </th>
          <th
            style="
              border: 1px solid black;
              padding: 5px;
              text-align: center;
              font-size: 12px;
            "
          >
            Saldo
          </th>
          <th
            style="
              border: 1px solid black;
              padding: 5px;
              text-align: center;
              font-size: 12px;
            "
          >
            Realisasi
          </th>
          <th
            style="
              border: 1px solid black;
              padding: 5px;
              text-align: center;
              font-size: 12px;
            "
          >
            Sisa Saldo
          </th>
        </tr>
      </thead>
      <tbody>
        @php $p=0; $saldo_menjadi =0; $realisasi =0; $sisa_saldo=0; @endphp
        @if(isset($data)) @foreach ($data as $val)
        <tr>
          <td
            style="
              border: 1px solid black;
              text-align: left;
              padding: 2px;
              font-size: 12px;
            "
          >
            {{++$p}}.
          </td>
          <td
            style="
              border: 1px solid black;
              padding: 5px;
              text-align: center;
              font-size: 12px;
            "
          >
            {{$val->keterangan??''}}
          </td>
          <td
            style="
              border: 1px solid black;
              text-align: center;
              padding: 2px;
              font-size: 12px;
            "
          >
            {{isset($val->tanggal_pembelian)?
            DateConversion::indonesia($val->tanggal_pembelian,"d F Y"):'-'}}
          </td>
          <td
            style="
              border: 1px solid black;
              text-align: right;
              padding: 2px;
              font-size: 12px;
            "
          >
            Rp. {{isset($val->saldo_menjadi)?
            number_format($val->saldo_menjadi,2):'-'}}
          </td>
          <td
            style="
              border: 1px solid black;
              text-align: right;
              padding: 2px;
              font-size: 12px;
            "
          >
            Rp. {{isset($val->realisasi)? number_format($val->realisasi,2):'-'}}
          </td>
          <td
            style="
              border: 1px solid black;
              text-align: right;
              padding: 2px;
              font-size: 12px;
            "
          >
            Rp. {{isset($val->sisa_saldo)?
            number_format($val->sisa_saldo,2):'-'}}
          </td>
        </tr>
        @php $saldo_menjadi += $val->saldo_menjadi; $realisasi +=
        $val->realisasi; $sisa_saldo += $val->sisa_saldo; @endphp @endforeach
        @else
        <tr>
          <td
            style="
              border: 1px solid black;
              text-align: left;
              padding: 2px;
              font-size: 12px;
            "
          ></td>
          <td
            style="
              border: 1px solid black;
              text-align: left;
              padding: 2px;
              font-size: 12px;
            "
          ></td>
          <td
            style="
              border: 1px solid black;
              text-align: left;
              padding: 5px;
              font-size: 12px;
            "
          ></td>
          <td
            style="
              border: 1px solid black;
              text-align: center;
              padding: 2px;
              font-size: 12px;
            "
          ></td>
          <td
            style="
              border: 1px solid black;
              text-align: right;
              padding: 2px;
              font-size: 12px;
            "
          ></td>
          <td
            style="
              border: 1px solid black;
              text-align: right;
              padding: 2px;
              font-size: 12px;
            "
          ></td>
        </tr>
        @endif
      </tbody>
      <tfoot>
        <tr>
          <td
            style="
              border: 1px solid black;
              text-align: left;
              padding: 2px;
              font-size: 12px;
            "
            colspan="3"
          >
            Total
          </td>
          <td
            style="
              border: 1px solid black;
              text-align: right;
              padding: 2px;
              font-size: 12px;
            "
          >
            Rp. {{isset($saldo_menjadi)?number_format($saldo_menjadi,2):0}}
          </td>
          <td
            style="
              border: 1px solid black;
              text-align: right;
              padding: 2px;
              font-size: 12px;
            "
          >
            Rp. {{isset($realisasi)?number_format($realisasi,2):0}}
          </td>
          <td
            style="
              border: 1px solid black;
              text-align: right;
              padding: 2px;
              font-size: 12px;
            "
          >
            Rp. {{isset($sisa_saldo)?number_format($sisa_saldo,2):0}}
          </td>
        </tr>
      </tfoot>
    </table>
    <div style="page-break-inside: avoid">
      <table style="width: 100%; margin-top: 20px">
        <tbody>
          <tr>
            <td style="width: 10%"></td>
            <td style="width: 50%">
              <table style="width: 100%">
                <tr>
                  <td>Mengetahui,</td>
                </tr>
                <tr>
                  <td>Kepala Bagian Tata Usaha</td>
                </tr>
                <tr>
                  <td>
                    <div style="margin-top: 100px">
                      {{isset($tu->nama)?$tu->nama:''}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>NIP. {{isset($tu->nip)?$tu->nip:''}}</td>
                </tr>
              </table>
            </td>
            <td style="width: 40%">
              <table style="width: 100%">
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    Pengelola Pengadaan Barang/Jasa Muda <br />
                    Selaku <br />
                    Subkoordinator Pengelola Barang Milik Negara, Rumah Tangga
                    dan Kearsipan
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="margin-top: 50px">
                      {{isset($ttd->nama)?$ttd->nama:''}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>NIP. {{isset($ttd->nip)?$ttd->nip:''}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
     
  </body>
</html>
